.hero {
  background-image: url("./assets/images/wallpaper1.jpg");
  background-size: cover;
  background-position: center;
}

.signupPage {
  background-image: url("./assets/images/classroom2.jpg");
  background-size: cover;
  background-position: center;
}

.signinPage {
  background-image: url("./assets/images/wallpaper2.jpg");
  background-size: cover;
  background-position: center;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

.logo-prop {
  width: 120px;
  height: min-content;
  /* object-fit: contain;
  align-items: center;
  justify-content: center; */
  align-self: center;
  transition: transform 0.3s ease-in-out;
  opacity: 0.5;
}

.logo-prop:hover {
  transform: scale(1.4);
  opacity: 1;
}
